.container{
    margin-top: 25px;
}
.uam{
    background: #efefef;
}
body {
    font-family: 'Noto Sans', sans-serif;, "Helvetica Neue",Helvetica,Arial,sans-serif;
}

label {
    font-weight: 400;
}

.form-control-label {
    color: #666;
}

.form-control {
    border-radius: 0px;
    box-shadow:none;
    color:#222;
}

.form-control:focus {
    border-color: #62AD00;
}

.btn-primary{
    width:100%;
    background-color:#498200;
    border-color:#498200;
}

.btn-primary:hover {
    background-color: #006726;
    transition: background .5s ease;
}

.btn-link {
    font-size: 100%;
}

table {
    border: solid #7b7b7b;
    border-width: 2px 0px;
}

.form-control.submitted.ng-invalid{
    border-color: red;
}

.help-block{
    color:red;
}

@media(max-width: 900px){

    .form-control{
        font-size:21px;
        height:55px;
    }

    .btn-primary {
        margin-top:20px;
        border-radius:0px;
        padding:10px 20px;
        font-size:21px;
    }
}